streamlit>=1.24.0
mercantile
requests
pillow
numpy
pandas
pyproj
opencv-python
inference-sdk
xlsxwriter
matplotlib
supervision
streamlit>=1.24.0
torch
transformers
pillow
matplotlib
numpy
pandas
mercantile
requests
pyproj
opencv-python
shapely
xlsxwriter
